.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width800 {
    width: 800px;
}

.height200 {
    height: 200px;
}

.color {
    background-color: #8987ac;
}

.width590 {
    width: 590px;
}

.width200 {
    width: 200px;
}

.height500 {
    height: 500px;
}

.columnGap10 {
    column-gap: 10px;
}

.margin-top10 {
    margin-top: 10px;
}

@media screen and (max-width: 1300px) {
    .A {
        width: 300px;
        height: 80px;
        border-radius: 10px;
    }

    .B {
        width: 300px;
        border-radius: 10px;
    }

    .C {
        margin-top: 10px;
        border-radius: 10px;
        width: 300px;
        height: 80px;
    }

    .b-c {
        display: block;
    }

}