.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width800 {
    width: 800px;
}

.height200 {
    height: 200px;
}

.color {
    background-color: #8987ac;
}

.width590 {
    width: 590px;
}

.width200 {
    width: 200px;
}

.height500 {
    height: 500px;
}

.columnGap10 {
    column-gap: 10px;
}

.margin-top10 {
    margin-top: 10px;
}

.height100 {
    height: 100px;
}
.width150 {
    width: 190px;
}

.height210 {
    height: 210px;
}
@media screen and (max-width: 900px) {
    .A {
        width: 300px;
        height: 80px;
        border-radius: 10px;
    }

    .B {
        width: 300px;
        border-radius: 10px;
    }

    .C, .F, .H-3 {
        margin-top: 10px;
        border-radius: 10px;
        width: 300px;
        height: 80px;
    }

    .b-c {
        display: block;
    }

    .C-2, .D, .E, .B-3, .C-3, .D-3, .E-2, .F-3, .G-3 {
        width: 90px;
        height: 50px;
        border-radius: 10px;
    }
}