* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: #000;
    --yellow: #f9c600;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.nav_menu_middle__item a, .nav_menu_right__item a {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    text-decoration: none;
}

.top_bar {
    display: flex;
    column-gap: 170px;
    align-items: center;
}

.header {
    height: 83px;
    display: flex;
}

.nav_menu_middle {
    display: flex;
    column-gap: 48px;
}

.nav_menu_right {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
}

.chevron-down {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.chevron-down img {
    width: 8px;
    height: 5px;
}

.nav_menu_right button {
    width: 163px;
    height: 54px;
    border-radius: 4px;
    background-color: var(--black-color);
    color: white;
    cursor: pointer;
    transition: box-shadow .35ms;
}

button:hover {
    -webkit-box-shadow: 6px 4px 8px 0 rgba(50, 50, 50, 0.92);
    -moz-box-shadow: 6px 4px 8px 0 rgba(50, 50, 50, 0.92);
    box-shadow: 6px 4px 8px 0 rgba(50, 50, 50, 0.92);
}

.firstBlock {
    margin-top: 14px;
    display: flex;
    height: 880px;
}

.firstBlock_left {
    margin: 154px 147px 445px 147px;
}

.title {
    height: 384px;
    width: 436px;
}

h1 {
    font-size: 60px;
    line-height: 64px;
}

.firstBlock_left p {
    font-size: 22px;
    line-height: 32px;
    height: 96px;
    margin-top: 32px;
}

.firstBlock-buttons {
    display: flex;
    column-gap: 16px;
}

button {
    cursor: pointer;
}

.yellow_button {
    width: 163px;
    height: 54px;
    border-radius: 4px;
    background-color: var(--yellow);
}

.white_button {
    width: 163px;
    height: 54px;
    border-radius: 4px;
    background-color: white;
}

.firstBlock_left button {
    height: 54px;
    border-radius: 4px;
    margin-top: 38px;
}

.firstBlock_white_btn {
    width: 156px;
    background-color: white;
}

.firstBlock_right img {
    display: flex;
    justify-content: flex-end;
}

.poll_video {
    width: 608px;
    position: relative;
    bottom: 710px;
    right: 120px;
}

.w50per {
    width: 50%;
}

.secondBlock {
    margin-top: 189px;
}

.secondBlock_content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.secondBlock_content div {
    width: 547px;
    height: 96px;
}

.secondBlock_content p {
    font-size: 42px;
    line-height: 48px;
}

.secondBlock_photo {
    margin-top: 59px;
    display: flex;
    justify-content: center;
}

.thirdBlock {
    display: flex;
    justify-content: center;
    margin-top: 192px;
    background-color: #51cebc;
    width: 1376px;
    height: 494px;
    border-radius: 10px;
}

.thirdBlock_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdBlock_img {
    width: 678px;
    height: 382px;
}

.thirdBlock_text {
    width: 557px;
    height: 219px;
}

.thirdBlock_text p:nth-child(1) {
    font-size: 34px;
    line-height: 40px;
}

.thirdBlock_text p:nth-child(2) {
    font-size: 22px;
    line-height: 32px;
    margin-top: 35px;
}

.fourthBlock {
    display: flex;
    justify-content: center;
    margin-top: 191px;
}

.fourthBlock_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 771px;
    height: 80px;
}

.fourthBlock_title p {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
}

.fourthBlock_content img {
    width: 911px;
    height: 528px;
    margin-top: 57px;
}

.fourthBlock_btn {
    display: flex;
    justify-content: center;
    margin-top: 113px;
}

.fifthBlock {
    display: flex;
    justify-content: center;
    margin-top: 160px;
    background-color: #bd78f0;
}

.fifthBlock_content {
    display: flex;
    justify-content: center;
}

.fifthBlock_content img {
    position: relative;
    right: 220px;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.fifthBlock_text {
    width: 485px;
    height: 287px;
    margin-top: 103px;
}

.fifthBlock_text p:nth-child(1) {
    font-size: 42px;
    line-height: 48px;
}

.fifthBlock_text p:nth-child(2) {
    font-size: 17px;
    line-height: 28px;
    margin-top: 39px;
}

.sixthBlock {
    margin-top: 136px;
}

.sixthBlock_content {
    width: 593px;
    height: 239px;
}

.sixthBlock_content p:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
}

.sixthBlock_content p:nth-child(2) {
    font-size: 42px;
    line-height: 48px;
    margin-top: 13px;
}

.sixthBlock_content p:nth-child(3) {
    font-size: 22px;
    line-height: 32px;
    margin-top: 26px;
}

.seventhBlock {
    margin: 226px 0 152px 0;
}

.seventhBlock_content_firstPart {
    display: flex;
    justify-content: space-between;
}

.seventhBlock_content_firstPart_text {
    width: 484px;
    height: 334px;
}

.seventhBlock_content_firstPart_text_paragraphs p:nth-child(1) {
    font-size: 34px;
    line-height: 40px;
    margin-top: 23px;
}

.seventhBlock_content_firstPart_text_paragraphs p:nth-child(2) {
    font-size: 17px;
    line-height: 28px;
    margin-top: 29px;
}

.seventhBlock_content_firstPart_text button {
    margin-top: 64px;
}

.seventhBlock_content_secondPart button {
    margin-top: 36px;
}

.seventhBlock_content_secondPart {
    margin-top: 140px;
}

.seventhBlock_content_buttons button {
    height: 23px;
    border-radius: 4px;
    text-transform: uppercase
}

.seventhBlock_content_buttons button:nth-child(1) {
    background-color: #E7EAEB;
    width: 228px;
    height: 23px;
    color: #61757E;
    font-size: 12px;
    line-height: 16px;
}

.seventhBlock_content_buttons button:nth-child(2) {
    background-color: #E7EAEB;
    width: 147px;
    color: #61757E;
    font-size: 12px;
    line-height: 16px;
}

.seventhBlock_content_buttons button:nth-child(3) {
    background-color: #FE9F28;
    width: 152px;
    color: var(--black-color);
    font-size: 12px;
    line-height: 16px;
}

.seventhBlock_content_buttons {
    column-gap: 8px;
}

.eighthBlock {
    height: 960px;
    background-color: #f2ede7;
}

.eighthBlock_content {
    padding: 96px 122px 95px 122px;
}

.eighthBlock_content_text {
    width: 1064px;
    height: 162px;
}

.eighthBlock_content_text p:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.eighthBlock_content_text p:nth-child(2) {
    font-size: 60px;
    line-height: 64px;
}

.eighthBlock_content_downPart img {
    margin: 20px 0 0 150px;
}

.eighthBlock_accordion {
    width: 589px;
    height: 408px;
    margin: 120px 122px 94px 254px;
}

.accordion {
    color: #444;
    background-color: #f2ede7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:after {
    content: '\2713';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2193";
}

.panel {
    background-color: #f2ede7;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.eighthBlock_accordion {
    border-top: 2px solid #C9316F;
}

.eighthBlock_accordion button {
    border: none;
    border-bottom: 2px solid #C3CACD;
    font-size: 24px;
    line-height: 32px;
    color: var(--black-color);
    margin-top: 25px;
}

.panel p:nth-child(1) {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-top: 25px;
}

.panel p:nth-child(2) {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-top: 36px;
    width: 563px;
}

.eighthBlock_accordion_link {
    column-gap: 8px;
    border-bottom: 2px solid #C3CACD;
    padding-bottom: 15px;
}

.eighthBlock_accordion_link a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 16px;
    line-height: 28px;
}

.eighthBlock_accordion_link img {
    margin: 0;
    cursor: pointer;
}

.eighthBlock_accordion_link a:hover {
    text-decoration: underline;
}

.ninthBlock_content {
    justify-content: space-between;
    margin: 184px 0 264px 148px;
}

.ninthBlock_content_leftPart {
    width: 669px;
    height: 370px;
}

.ninthBlock_content_leftPart p:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
}

.ninthBlock_content_leftPart p:nth-child(2) {
    font-size: 34px;
    line-height: 40px;
    margin-top: 15px;
}

.ninthBlock_content_leftPart p:nth-child(3) {
    font-size: 17px;
    line-height: 28px;
    margin-top: 37px;
}

.ninthBlock_content_leftPart button {
    width: 208px;
    height: 54px;
    border-radius: 4px;
    background-color: var(--yellow);
    margin-top: 36px;
}

.ninthBlock_content_rightPart img {
    width: 512px;
    height: 418px;
}

/*.tenthBlock {*/
/*    margin-top: 264px;*/
/*}*/

.tenthBlock_content {
    margin: 264px 0 46px 32px;
}

.tenthBlock_content_blocks {
    display: flex;
    height: 584px;
    width: 1376px;
}

.tenthBlock_content_greyBlock {
    background-color: #f2ede7;

}

.tenthBlock_content_yellowBlock {
    background-color: var(--yellow);
}



