.first{
    box-sizing: border-box;
    background-color: #e4e4e4;
    margin: 30px 150px 10px 230px;
    padding: 20px;

}

.box{
    box-sizing: border-box;
    background-color: #ffab02;
    width: 200px;
    height: 200px;
    margin: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.row {
    margin-bottom:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxA {
    box-shadow: #474747 25px 30px;
}

.boxB {
    box-shadow: #474747 20px 30px 10px 10px;

}

.boxC {
    box-shadow: #474747 20px 30px 10px 10px;
}

.boxD {
    box-shadow: rgba(71, 71, 71, 0.5) 20px 30px 10px 10px;
}

.boxE {
    box-shadow: #474747 20px 30px 10px 10px;
    border-radius: 10px;
}

.boxF {
    box-shadow: rgba(71, 71, 71, 0.5) 20px 30px 10px 10px;;
    border-radius: 10px;
}

.lesson {
    background-color: #8a2928;;
    height: 40px;
    color: wheat;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.firstText{
    box-sizing: border-box;
    background-color: rgba(71, 71, 71, 0.5);
    font-size: 20px;
    padding: 10px 30px;
}

.secondText {
    box-sizing: border-box;
    background-color: #6496ec;
    font-size: 20px;
    padding: 40px 0;
}

.square{
    background-color: #6bba67;
    width: 300px;
    height: 300px;
}

.blueFigure{
    background-color: #8987ac;
    width: 300px;
    height: 300px;
    border-radius: 40px;
}