.greyColor {
    background-color: #ced8e1;
}

.blackColor {
    background-color: #102b3e;
}

.width150 {
    width: 150px;
}

.height150 {
    height: 150px;
}

.width80 {
    width: 80px;
}

.width50 {
    width: 50px;
}

.height10 {
    height: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.height350 {
    height: 350px;
}

.borderBlue {
    border: 5px solid skyblue;
}

.border-radius40 {
    border-radius: 40px;
}

.border-radius {
    border-radius: 30px;
}

.frame {
    width: 650px;
    height: 300px;
}

.columnGap10 {
    column-gap: 10px;
}

.height8 {
    height: 8px;
}

.padding10 {
    box-sizing: border-box;
    padding: 20px;
}

.circle {
    border-radius: 50%;
}

.columnGap70 {
    column-gap: 70px;
}

.width30 {
    width: 30px;
}

.columnGap100 {
    column-gap: 100px;
}

.padding40 {
    padding: 40px 20px 0 10px;
    box-sizing: border-box;
}


.display-flex {
    display: flex;
}

.padding-top-10 {
    padding-top: 10px;
}

.skyColor {
    background-color: #3ac6ea;
}

.width1000px {
    width: 1000px;
}

.height40 {
    height: 40px;
}

.height5 {
    height: 5px;
}

.width50per {
    width: 50%
}

.height80 {
    height: 80px;
}

.height60 {
    height: 60px;
}

.border-radius20 {
    border-radius: 20px;;
}

.height800 {
    height: 800px;
}

.boxInBorder {
    width: 250px;
    height: 300px;
}

.width200 {
    width: 200px;
}

.columnGap90 {
    column-gap: 90px;
}

.smallCircle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.justify-end {
    justify-content: flex-end;
}

.padding-top-30 {
    padding-top: 30px;
}

.border-top {
    border-top: 5px solid skyblue;
}

.boxFooter {
    position: relative;
    top: 10px;
    width: 250px;
    height: 0;
    border: solid skyblue;
    border-radius: 30px;
}

.boxInFooter {
    display: flex;
    padding: 10px 20px 5px 15px;
}

.width300 {
    width: 300px;
}

.height200 {
    height: 200px;
}

.height30 {
    height: 30px;
}

.border-radius10 {
    border-radius: 10px;
}

.height2 {
    height: 2px;
}
